* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/*BODY*/
.sucursal {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 0.4fr 5.7fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "margen nombre margenD"
    "margen contenedor margenD"
    "margen pieDePagina margenD";
}

.containerM {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 0.4fr 5.7fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "margen nombre margenD"
    "margen principal margenD"
    "margen pieDePagina margenD";
}
.cuerpo {
  font-size: 1.1rem;
}
.colorRosaLetra {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.colorLetra {
  background-color: #cccccc;
  font-family: "Courier New", Courier, monospace;
}

.colorCelesteLetra {
  background-color: #b1cadc;
  font-family: Arial, Helvetica, sans-serif;
}

.colorVerdeLetra {
  background-color: #e4f0d4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.colorVioletaLetra {
  background-color: #bba7c1;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

/*HEADER*/
.nombre {
  grid-area: nombre;
}

.encabezado {
  border-radius: 5%;
  align-content: space-around;
  margin-bottom: 10px;
  text-align: center;
}

.colorFondoRosa {
  background-color: hsl(352, 87%, 88%);
}

.colorFondoGris {
  background-color: #bcbcbc;
}

.colorFondoCeleste {
  background-color: #6b9bb3;
}

.colorFondoVerde {
  background-color: #ccec9c;
}

.colorFondoVioleta {
  background-color: #b497bc;
}

.Logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  position: relative;
  top: 4px;
  left: 50px;
}

/*TITULO*/
.Titulo {
  margin: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

.labTitulo {
  color: #f3f6f0;
  text-shadow: 2px 2px #eeb778;
  background-color: hsl(352, 87%, 88%);
}

.cuadraTitulo {
  color: #f2f2f2;
  text-shadow: 2px 2px #666666;
  text-align: start;
  padding-left: 150px;
}

.antiTitulo {
  color: #eff2f5;
  text-shadow: 3px 3px #628393;
  text-transform: lowercase;
  font-size: 100px;
  font-family: "Schoolbell", cursive;
}

.gueyTitulo {
  text-transform: lowercase;
  color: #e7f8d3;
  text-shadow: 2px 2px #a4ce7f;
}

.sanjoTitulo {
  text-transform: uppercase;
  color: #e7d3e8;
  text-shadow: 2px 2px #523755;
}
/*NAV*/
.nav-link {
  color: white;
}

.colorBarraLab {
  background-color: #eeb778;
}

.colorBarraCuadra {
  background-color: #666666;
}

.colorBarraAnti {
  background-color: #76accc;
}

.colorBarraGuey {
  background-color: #a4ce7f;
}

.colorBarraSanjo {
  background-color: #523755;
}
.dropdown-item{
  background-color: #eeb778;
  color: white;
}

/*MAIN*/
.principal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 15px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sectionUs"
    "sectionImg"
    "sectionLocales";
  grid-area: principal;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.1fr;
  gap: 15px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sectionUs"
    "sectionMenu"
    "sectionImg"
    "sectionUbicacion"
    "sectionContact";
  grid-area: contenedor;
}
@media screen and (max-width: 360px) {
  .contenedor{
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  }
}
/* DIV*/
.estructura {
  margin: auto;
  padding: 20px 20px 20px 0px;
  background-color: #f3f6f0;
  width: 100%;
}

/*NOSOTROS*/
.sectionUs {
  grid-area: sectionUs;
}

.nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 30px 10px 10px 30px;
}

.divNos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.presentacion {
  text-indent: 5px;
  padding: 10px 100px 10px 10px;
  letter-spacing: 0.5px;
  text-align: justify;
}

.quote {
  text-indent: 20px;
  padding: 30px 90px 30px 90px;
  letter-spacing: 0.5px;
  border: 3px groove #ababab;
  font-style: italic;
}

/* FOTO COMPLEMENTARIA*/
.imagenPresentacion {
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 10px;
}
@media screen and (max-width: 360px){
  .nosotros{
    display: flex;
    flex-direction: column;
  }
  .imagenPresentacion{
    flex-direction: column;
  }
  .presentacion{
    padding: 10px;
  }
  .quote{
    padding: 15px
  }
}
/*CARRUSEL*/
.sectionImg {
  grid-area: sectionImg;
}
.carrusel{
  height: 490px;
  width: 790px;
 align-content: center;
 display: block;
 text-align: center;
 margin: auto;
}
.gallery img {
  height: 300px;
  width: 300px;
  border: 3px solid gray;
  margin-left: 5px;
}
@media screen and (max-width: 360px) {
  .carrusel img{
    width: 300px;
    margin-left: 50px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1.2fr 0.9fr 0.9fr;
  grid-template-rows: 0.9fr 0.9fr 1.2fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Video foto1 foto2"
    "Video foto3 foto4"
    "Video foto5 foto6";
}

.Video {
  grid-area: Video;
  display: block;
  text-align: center;
  margin-top: 10%;
}

@media screen and (max-width:700px) {
  .Video {
    display: none;
  }
}

.foto6 {
  grid-area: foto6;
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

.foto4 {
  grid-area: foto4;
}


.foto5 {
  grid-area: foto5;
}

@media screen and (max-width:360px) {
  .gallery{
    display: flex;
    flex-direction: column;
  }
  .gallery img{
    width: 300px;
    margin-left: 50px
  }
  .sectionImg{
    width: 100%;
  }
}

/*H3*/
.subtitulos {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px #f0d6cc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #fbbcca;
  background-color: darkgray;
  margin: 0px 1% 10px 1%;
}

.colorLetraSombraCuadra {
  color: black;
  text-shadow: 1px 1px #f2f2f2;
  width: auto;
}

.colorLetraSompraAnti {
  color: #628393;
  text-shadow: 1px 1px #eff2f5;
  width: auto;
}

.colorLetraSompraGuey {
  color: #a4ce7f;
  background-color: lightgray;
  text-shadow: 2px 2px #e7f8d3;
}

.colorLetraSompraSanjo {
  color: #5c3e54;
  background-color: lightgray;
  text-shadow: 3px 3px #e7d3e8;
}

/*PROPUESTA*/
.sectionMenu {
  grid-area: sectionMenu;
}

.menu {
  display: block;
  text-align: center;
}

.propuestaC {
  background-color: #f3f6f0;
  padding: 3px 5px 0px 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
}
.menuMovil{
  display: none;
}
@media screen and (max-width:360px) {
  .menuPdf{
   display: none;
  }
  .menuMovil{
    display: contents;
  }
}

/*UBICACION**/
.sectionUbicacion {
  grid-area: sectionUbicacion;
}
.ubicacion {
  display: flex;
  align-content: space-around;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mapita {
  position: relative;
  margin: 20px;
}

.mapita:hover {
  height: 400px;
  width: 450px;
}

.ubicacion ul {
  padding: 10px;
  margin: 0px 20px 20px 20px;
}

.dots {
  list-style: none;
}
@media screen and (max-width: 360px) {
  .ubicacion {
    flex-direction: column-reverse;
  }
  .ubicacion iframe{
    width: auto;
    height: auto;
  }
}
/* Aca empieza el hover de locales*/
.sectionLocales {
  grid-area: sectionLocales;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  background-color: #f2f2f2;
  width: 100%;
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 370px) {
  .card {
    height: 400px;
  }
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url(../Imagenes/Cuadra/Logo.jpg);
  background-position: center;
}

.card:nth-child(2):before {
  background-image: url(../Imagenes/Anti/anti.logo.jpg);
  background-position: center;
}

.card:nth-child(3):before {
  background-image: url(../Imagenes/guey/logo.jpg);
  background-position: center;
}

.card:nth-child(4):before {
  background-image: url(../Imagenes/sanjo/logo.jpg);
  background-position: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
  background-color: transparent;
}

.content > * + * {
  margin-top: 1rem;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #f3f6f0;
  border: none;
}

.btn:hover {
  background-color: hsl(352, 87%, 88%);
}

.btn:focus {
  outline: 1px dashed pink;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }

  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/*CONTACTO*/
.sectionContact {
  grid-area: sectionContact;
}

.cuestionario{
  margin: 3em;
}
.botonEnviar {
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #000;
  background-color: #fff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

.pieDePagina {
  grid-area: pieDePagina;
  background-color: #f3f6f0;
  margin-top: 20px;
  text-decoration: none;
  text-transform: lowercase;
  border: transparent solid 1px;
  padding: 5px 5px 5px 5px;
  font-size: small;
}

.margen {
  grid-area: margen;
}

.margenD {
  grid-area: margenD;
}

